<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EPTown"
        tools:targetApi="31" >

        <!-- 메인 화면 -->
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 로그인 -->
        <activity
            android:name=".Login"
            android:exported="true" />

        <!-- 상품 상세 / 상품 정보-->
        <activity
            android:name=".ItemDetails"
            android:exported="true" />

        <!-- 상품 상세 / 리뷰 -->
        <activity
            android:name=".ItemDetailsReview"
            android:exported="true" />

        <!-- 상품 상세 / 문의 -->
        <activity
            android:name=".ItemDetailsInquiry"
            android:exported="true" />

        <!-- 상품 상세 / 쿠폰 -->
        <activity
            android:name=".ItemDetailsCoupon"
            android:exported="true" />

    </application>

</manifest>
