<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/splash_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EPTown_"
        tools:targetApi="31">

        <!-- 스플래시 스크린 액티비티에 전용 테마 적용 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 로그인 -->
        <activity
            android:name=".Login"
            android:exported="true" />

        <!-- 메인화면 -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- 상품 상세 / 상품 정보-->
        <activity
            android:name=".ItemDetails"
            android:exported="true" />

        <!-- 상품 상세 / 리뷰 -->
        <activity
            android:name=".ItemDetailsReview"
            android:exported="true" />

        <!-- 상품 상세 / 문의 -->
        <activity
            android:name=".ItemDetailsInquiry"
            android:exported="true" />

        <!-- 상품 상세 / 쿠폰 -->
        <activity
            android:name=".ItemDetailsCoupon"
            android:exported="true" />

        <!-- 내정보 -->
        <activity
            android:name=".MyPageActivity"
            android:exported="true"/>

        <!-- 병원 -->
        <activity
            android:name=".HospitalActivity"
            android:exported="true"/>

        <!-- 병원 세부-->
        <activity
            android:name=".HospitalDetailsActivity"
            android:exported="true"/>

        <!-- 알림 -->
        <activity
            android:name=".NoticeActivity"
            android:exported="true"/>

        <!-- 커뮤니티 -->
        <activity
            android:name=".CommunityActivity"
            android:exported="true"/>

        <!-- 장바구니 -->
        <activity
            android:name=".CartActivity"
            android:exported="true" />

        <!-- 검색 -->
        <activity
            android:name=".SearchActivity"
            android:exported="true" />

        <!-- 검색 완료 -->
        <activity
            android:name=".SearchDetailsActivity"
            android:exported="true" />

        <!-- 주문/결제 -->
        <activity
            android:name=".OrderPayActivity"
            android:exported="true" />

        <!-- 카테고리 메인 -->
        <activity
            android:name=".CategoryMainActivity"
            android:exported="true" />

        <!-- 카테고리 사료 1 -->
        <activity
            android:name=".CategoryFeed1Activity"
            android:exported="true" />

        <!-- 카테고리 사료 2 -->
        <activity
            android:name=".CategoryFeed2Activity"
            android:exported="true" />

        <!-- 카테고리 사료 3 -->
        <activity
            android:name=".CategoryFeed3Activity"
            android:exported="true" />

        <!-- 카테고리 사료 4 -->
        <activity
            android:name=".CategoryFeed4Activity"
            android:exported="true" />

        <!-- 카테고리 간식1 -->
        <activity
            android:name=".CategorySnack1Activity"
            android:exported="true" />

        <!-- 카테고리 간식2 -->
        <activity
            android:name=".CategorySnack2Activity"
            android:exported="true" />

        <!-- 카테고리 간식3 -->
        <activity
            android:name=".CategorySnack3Activity"
            android:exported="true" />

        <!-- 카테고리 간식4 -->
        <activity
            android:name=".CategorySnack4Activity"
            android:exported="true" />

        <!-- 카테고리 간식5 -->
        <activity
            android:name=".CategorySnack5Activity"
            android:exported="true" />

        <!-- 카테고리 간식6 -->
        <activity
            android:name=".CategorySnack6Activity"
            android:exported="true" />

        <!-- 카테고리 간식7 -->
        <activity
            android:name=".CategorySnack7Activity"
            android:exported="true" />

        <!-- 카테고리 용품1 -->
        <activity
            android:name=".CategoryProduct1Activity"
            android:exported="true" />

        <!-- 카테고리 용품2 -->
        <activity
            android:name=".CategoryProduct2Activity"
            android:exported="true" />

        <!-- 카테고리 용품6 -->
        <activity
            android:name=".CategoryProduct3Activity"
            android:exported="true" />

        <!-- 카테고리 용품4 -->
        <activity
            android:name=".CategoryProduct4Activity"
            android:exported="true" />

    </application>

</manifest>